
// $inhouse-cool: (
//   50: #e8eaf6,
//   100: #c5cae9,
//   200: #9fa8da,
//   300: #7986cb,
//   400: #5c6bc0,
//   500: #0062ff,
//   600: #3949ab,
//   700: #303f9f,
//   800: #283593,
//   900: #1a237e,
//   A100: #8c9eff,
//   A200: #536dfe,
//   A400: #3d5afe,
//   A700: #304ffe,
//   contrast: (
//     50: $dark-primary-text,
//     100: $dark-primary-text,
//     200: $dark-primary-text,
//     300: $light-primary-text,
//     400: $light-primary-text,
//     500: $light-primary-text,
//     600: $light-primary-text,
//     700: $light-primary-text,
//     800: $light-primary-text,
//     900: $light-primary-text,
//     A100: $dark-primary-text,
//     A200: $light-primary-text,
//     A400: $light-primary-text,
//     A700: $light-primary-text,
//   ),
// );

// $inhouse-marketing-primary: mat-palette($inhouse-cool);
// $inhouse-marketing-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $inhouse-marketing-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $inhouse-marketing-theme: mat-light-theme(
//   $inhouse-marketing-primary,
//   $inhouse-marketing-accent,
//   $inhouse-marketing-warn
// );

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($inhouse-marketing-theme);

// /* You can add global styles to this file, and also import other style files */
.bg-light {
  background-color: #faf9f5;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3eedf;
}
* {
  box-sizing: border-box;
  font-weight: lighter;
  font-family: PlayfairDisplay-Regular, "Helvetica Neue", sans-serif;
}

.bg-primary {
  background-color: black;
  color: white;
}
.text-light {
  color: #ffffff;
}

// @font-face {
//   font-family: Poppins-Regular;
//   src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
// }

// @font-face {
//   font-family: Poppins-Light;
//   src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
// }

// @font-face {
//   font-family: Poppins-Bold;
//   src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
// }

// @font-face {
//   font-family: PlayfairDisplay-Regular;
//   src: url("./assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
// }

// @font-face {
//   font-family: PlayfairDisplay-Italic;
//   src: url("./assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf");
// }

.sans-regular {
  font-family: Poppins-Regular, sans-serif;
}

.sans-bold {
  font-family: Poppins-Bold, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
  width: 100%;
  border: solid 1px black;
  padding: 2rem 1rem;
  margin: 2rem 1rem;
}

button {
  border-radius: 30px !important;
  line-height: 40px !important;
  text-align: center;
  margin: auto;
}

button > * {
  font-family: Poppins-Regular, sans-serif !important;

}
